openapi: 3.0.1
info:
  description: ShipBob Developer API Documentation
  title: ShipBob Developer API
  version: "1.0"
servers:
- url: https://api.shipbob.com/1.0/
tags:
- description: " >  Note: The orderId in the API response will not match the Id displayed\
    \ in the ShipBob Merchant Portal when you navigate to the Orders page. ShipBob\
    \ is currently undergoing a schema migration and the Id displayed in the ShipBob\
    \ Merchant Portal is the shipmentId not the orderId. In the future, the portal\
    \ will display both orderId(s) and shipmentId(s). \\n\\n Use the Orders Resource\
    \ to create and retrieve orders in ShipBob. \\n\\n An order a digital record of\
    \ a complete purchase that comes from an upstream source (i.e. Shopify) and is\
    \ intended for ShipBob to fulfill. The order object includes products purchased,\
    \ shipping address details, shipping method selected etc. Orders are created in\
    \ ShipBob via a channel. \\n\\n When ShipBob fulfills the order, one or more shipments\
    \ are created for that order. A shipment is a record of the physical package(s)\
    \ sent out via a carrier. If an order is shipped in multiple packages then 2 or\
    \ more shipments can be created for that order. \\n\\n ### Tips for creating orders\
    \ in ShipBob via the POST Order endpoint: \\n\\n * Populate the referenceId with\
    \ a unique and immutable order identifier from your upstream system. This field\
    \ was created to allow you to tieback records in ShipBob with your upstream system.\
    \ \\n\\n * Ensure that the <em> shipping method </em> passed in the API request\
    \ matches exactly what the user has listed as the <em> shipping method </em> on\
    \ the <em>  Ship Option Mapping </em> setup page in the ShipBob Merchant Portal.\
    \ If they donâ\x80\x99t match, ShipBob will assume that the user wants to leverage\
    \ ShipBobâ\x80\x99s default shipping method. \\n\\n * You can leverage either\
    \ productId (the ShipBob productId) or the product referenceId (your system's\
    \  unique Identifier for products) when creating an order. \\n\\n Use the Shipments\
    \ endpoints to retrieve fulfillment information for shipments or orders. \\n\\\
    n A shipment is an object that is the result of a fulfillment of an order. An\
    \ order can have one or more shipments. Say Shopify order #122323 contains 3 different\
    \ products, shipped in two separate packages, there would be 2 shipments for that\
    \ order. \\n\\n  Serial numbers are unique identifiers for an individual item\
    \ (e.g. your specific iPhone X that you bought at the Apple Store). No inventory\
    \ item can possess duplicate serial numbers. Merchants can request â\x80\x9cserial\
    \ scanâ\x80\x9d, which means ShipBob will capture the serial number(s) upon sending\
    \ a shipment so the merchant knows which customer received which individual item(s)."
  name: Orders
- description: "Use the Products Resource to retrieve and create product records in\
    \ ShipBob. \\n\\n A product is a virtual record created in ShipBobâ\x80\x99s system\
    \ via a channel. Say a merchant has two Shopify stores (each store would have\
    \ its own channel), Kevinâ\x80\x99s Shopify Store #133 and Kevinâ\x80\x99s Shopify\
    \ store #134. If the same SKU was sold on both stores, two products would be created\
    \ for that SKU, one product would be created to represent the SKU sold on Store\
    \ #133 and one to represent it on Store on #134, with productIds 3884009 and 3884008\
    \ respectively. \\n\\n While a product is a virtual record, the inventory item\
    \ is a representation of a physical good. So in the above example, as product\
    \ 3884009 and product 3884008 represent the same SKU sold on different channels,\
    \ the same inventory item will be mapped to both products. Every product will\
    \ have one or more inventory items mapped to it. Bundle products, a set of products\
    \ that are sold to consumers as one combined package, think gift or multi packs,\
    \ may have 2 or more inventory items mapped to them. \\n\\n ### Tips for creating\
    \ products in ShipBob via the POST Product endpoints: \\n\\n * ShipBob needs products\
    \ to be created at the lowest level. So if a product has 3 variants, small, medium\
    \ and large, a separate product needs to be created in ShipBob for all three.\\\
    n\\n * Populate the referenceId with a unique and immutable product identifier\
    \ from your upstream system. This field was created to allow you to tie back records\
    \ in ShipBob with your upstream system. \\n\\n * Use specific and/or unique names\
    \ to describe each product so they can be easily identified by users in the ShipBob\
    \ Merchant Portal. In particular, when creating variants, please give them distinguishable\
    \ names i.e. for a Blue shirt that comes in two sizes, small and medium, strong\
    \ product names would be Blue shirt size:small and Blue shirt size:medium. \\\
    n\\n > **NOTE:** The productId returned in the API response will not match the\
    \ id displayed in the ShipBob Merchant Portal when you navigate to Inventory >\
    \ Products. ShipBob is currently undergoing a schema migration and the Id displayed\
    \ in the ShipBob Merchant Portal is the inventoryId not the productId. In the\
    \ future, the portal will display both productId(s) and inventoryId(s)"
  name: Products
- description: " Use the Inventory Resource to retrieve ShipBob  inventory items and\
    \ quantities. \\n\\n An inventory item is a representation of a physical good,\
    \ that may or may not have physical stock in ShipBobâ\x80\x99s fulfillment centers.\
    \ Every product will have one or more inventory items mapped to it. A bundle product\
    \ (a set of products that are sold as one combined package - e.g.  gift or multi\
    \ packs) is an example of a product that has  2 or more inventory items mapped\
    \ to it. \\n\\n Lot items are physical items that have expiration dates or batch\
    \ numbers that should be fulfilled in a FIFO (first in, first out) manner. Most\
    \ food items are lot items. Quantities by lot # and/or expiration date are also\
    \ listed in the Inventory object."
  name: Inventory
- description: "Use the Channel Resource to list â\x80\x9cchannelsâ\x80\x9d which\
    \ you have access to. You will use this channelId for subsequent API calls made\
    \ to ShipBob endpoints. \\n\\n A channel is a specific installation of an application\
    \ built by a vendor on top of our API â\x80\x93 e.g. Kevinâ\x80\x99s Shopify Store\
    \ #133432.  All write and most read endpoints require a channel to be passed in\
    \ the header to complete the request. The channel is used to Identify where the\
    \ data originally came from.  \\n\\n Applications that are granted multi-channel\
    \ permissions will be able to read data from all channels that belong to a user.\
    \ However, multi-channel applications will only be able to write on behalf of\
    \ their own channel."
  name: Channels
- description: "**While the Returns API is live, ShipBob's end to end Returns process\
    \ will not go live until the beginning of March. As a result, any returns arriving\
    \ at ShipBob's fulfillment centers prior to March 12st, 2020 will NOT be processed**.\
    \ \\n\\n Use the Returns resource to retrieve, create, edit and cancel return\
    \ records in ShipBob. \\n\\n A return is a request for ShipBob to perform an action\
    \ on inventory that is coming back into our fulfillment centers. Typically, the\
    \ return is a result of an order being requested to be refunded or exchanged.\
    \ ShipBob does not handle refunds or exchanges - we simply process the inventory\
    \ according to the merchant specifications. \\n\\n Returns can only be **modified**\
    \ or **cancelled** when they are in the Awaiting Arrival status. Returns that\
    \ are being Processed or have been Completed cannot be modified or cancelled.\
    \ \\n\\n ### Tips for creating return orders: \\n\\n * Populate the referenceId\
    \ with a unique and immutable return identifier from your upstream system. This\
    \ field was created to allow you to tie back records in ShipBob with your upstream\
    \ system. \\n\\n *Include each inventoryId exactly once in the inventory object.\
    \ If an inventoryId is included more than once, the call will return an error\
    \ code \\n\\n * Provide a tracking # when submitting a return, while it is not\
    \ a required field, it is the the most surefire way for ShipBob staff to properly\
    \ and quickly identify the return package when it reaches our fulfillment center.\
    \ \\n\\n * Only include inventory items to the return record that will be returned\
    \ in the same box i.e. if InventoryId 12232 and InventoryId 12039 will be returned\
    \ in two seperate boxes, two return orders should be created. \\n\\n * ShipBob\
    \ does not process returns for digital items or bundle inventory items. Return\
    \ calls that include digital inventory  items (e.g. ebooks) or bundle inventory\
    \ items (i.e. multipacks, combination of multiple inventory items)  will return\
    \ an error code. \\n\\n * If you choose to provide a requested action (it is an\
    \ optional field), only provide one requested action per inventory item. So if\
    \  you have more than 1 quantity of a given item being returned within the same\
    \ box, all quantities of the item have to have the same action associated with\
    \ them. If you donâ\x80\x99t provide a requested action, it will default to the\
    \ action the User set for that inventory item in the ShipBob Merchant portal."
  name: Returns
- description: "Use the Receiving Resource to retrieve, create and cancel Warehouse\
    \ Receiving Orders (WROs). \\n\\n A WRO is a request form that tells ShipBob's\
    \ fulfillment centers what inventory should be received and stocked. Some other\
    \ solutions call this an â\x80\x9cASNâ\x80\x9d or Advanced Ship Notice. WROs may\
    \ include multiple inventory items with specific quantities. More details on creating\
    \ a WRO can be found [here](https://support.shipbob.com/s/article/New-Send-Inventory-to-ShipBob-WRO).\
    \ \\n\\n A WRO can only be **canceled** if it is in the Awaiting status. WROs\
    \ in Awaiting status are considered to still be in transit to ShipBob FCs. WROs\
    \ that have Partially Arrived, have been Processed or are Completed, cannot be\
    \ canceled."
  name: Receiving
- description: Use the Webhooks Resource to create, view or delete subscriptions for
    a user.
  name: Webhooks
- description: Use this API to interact with the physical locations across ShipBob's
    fulfillment network. \n\n An active ShipBob location is operational for fulfillment
    processes, including receiving inventory and processing returns. It's important
    to note that some locations, access is granted to all merchants by default, while
    some locations require special request for merchants to be granted access. \n\n
    For each location, determine if it can be leveraged for the user by viewing the
    access_granted & receiving_enabled fields.
  name: Locations
paths:
  /channel:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Channels.ChannelViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - oauth2:
        - HasChannelIdPermissions
      summary: Get user-authorized channel info
      tags:
      - Channels
  /fulfillmentCenter:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Receiving.FulfillmentCenterViewModel'
                type: array
          description: Success
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
      security:
      - oauth2:
        - receiving_read
      summary: Get Fulfillment Centers
      tags:
      - Receiving
  /inventory:
    get:
      parameters:
      - description: Page of inventory items to get
        explode: true
        in: query
        name: Page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Amount of inventory items per page to request
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Whether the inventory should be active or not
        explode: true
        in: query
        name: IsActive
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Whether the inventory is digital or not
        explode: true
        in: query
        name: IsDigital
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Comma separated inventory ids to filter by
        explode: true
        in: query
        name: IDs
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Sort will default to ascending order for each field. \r\nTo sort
          in descending order please pass a "-" in front of the field name. \r\nFor
          example, Sort=-onHand,name will sort by onHand descending
        explode: true
        in: query
        name: Sort
        required: false
        schema:
          type: string
        style: form
      - description: Search is available for 2 fields, Inventory ID and Name -\r\n1.
          Expected behavior for search by Inventory ID is exact match\r\n2. Expected
          behavior for search by Inventory Name is partial match, i.e. does not have
          to be start of word, \r\nbut must be consecutive characters. This is not
          case sensitive.
        explode: true
        in: query
        name: Search
        required: false
        schema:
          type: string
        style: form
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Inventory.InventoryViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - oauth2:
        - inventory_read
      summary: List inventory items
      tags:
      - Inventory
  /inventory/{inventoryId}:
    get:
      parameters:
      - description: The inventory id to get
        explode: false
        in: path
        name: inventoryId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory.InventoryViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - oauth2:
        - inventory_read
      summary: Get an inventory item
      tags:
      - Inventory
  /location:
    get:
      parameters:
      - description: Whether the inactive locations should be included or not
        explode: true
        in: query
        name: IncludeInactive
        required: false
        schema:
          description: Whether the inactive locations should be included or not
          nullable: true
          type: boolean
        style: form
      - description: Return all the receiving enabled locations
        explode: true
        in: query
        name: ReceivingEnabled
        required: false
        schema:
          description: Return all the receiving enabled locations
          nullable: true
          type: boolean
        style: form
      - description: Return all the access granted locations
        explode: true
        in: query
        name: AccessGranted
        required: false
        schema:
          description: Return all the access granted locations
          nullable: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Location.LocationViewModel'
                type: array
          description: Success
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
      security:
      - oauth2:
        - locations_read
      summary: Get locations
      tags:
      - Locations
  /order:
    get:
      description: All parameters are AND filters
      parameters:
      - description: Page of orders to get
        explode: true
        in: query
        name: Page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Amount of orders per page to request
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: order ids to filter by
        explode: true
        in: query
        name: IDs
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Reference ids to filter by
        explode: true
        in: query
        name: ReferenceIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Start date to filter orders inserted later than
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: End date to filter orders inserted earlier than
        explode: true
        in: query
        name: EndDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Order to sort results in
        explode: true
        in: query
        name: SortOrder
        required: false
        schema:
          enum:
          - Newest
          - Oldest
          type: string
        style: form
      - description: Has any portion of this order been assigned a tracking number
        explode: true
        in: query
        name: HasTracking
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: Start date to filter orders updated later than
        explode: true
        in: query
        name: LastUpdateStartDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: End date to filter orders updated later than
        explode: true
        in: query
        name: LastUpdateEndDate
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Orders.OrderViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
      security:
      - oauth2:
        - orders_read
      summary: Get Orders
      tags:
      - Orders
    post:
      parameters:
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Orders.CreateOrderModel'
          application/json:
            schema:
              $ref: '#/components/schemas/Orders.CreateOrderModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Orders.CreateOrderModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Orders.CreateOrderModel'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders.OrderViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
      security:
      - oauth2:
        - orders_write
      summary: Create Order
      tags:
      - Orders
  /order/estimate:
    post:
      description: This endpoint will provide, where possible, an estimate of pricing
        and fulfillment center assignment of a potential standard (direct to consumer)
        order. \r\nKeep in mind that there are ways for the merchant to change FC
        assignment or product configuration after order creation that could invalidate
        this estimate. \r\nEstimates cannot be returned for items that are unknown,
        out of stock, or too large for fulfillment using standard box sizes. \r\nAdditional
        services such as high-pick fees, shipping insurance, auto-splitting or auto-adding
        items to orders, and signature required are not included in this estimate.
      parameters:
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Orders.EstimateFulfillmentRequestModel'
          application/json:
            schema:
              $ref: '#/components/schemas/Orders.EstimateFulfillmentRequestModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Orders.EstimateFulfillmentRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Orders.EstimateFulfillmentRequestModel'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders.EstimateViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
      security:
      - oauth2:
        - orders_read
      summary: Estimate Fulfillment Cost For Order
      tags:
      - Orders
  /order/{orderId}:
    get:
      parameters:
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders.OrderViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
      security:
      - oauth2:
        - orders_read
      summary: Get Order
      tags:
      - Orders
  /order/{orderId}/cancel:
    post:
      parameters:
      - description: The order ID to cancel
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel ID for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders.CanceledOrderViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
        "500":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Server Error
      security:
      - oauth2:
        - orders_write
      summary: Cancel single Order by Order ID
      tags:
      - Orders
  /order/{orderId}/shipment:
    get:
      parameters:
      - description: The order id to get shipments for
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Orders.ShipmentViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
      security:
      - oauth2:
        - fulfillments_read
      summary: Get all Shipments for Order
      tags:
      - Orders
  /order/{orderId}/shipment/{shipmentId}:
    get:
      parameters:
      - description: The order id to get the shipment for
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The shipment id to get
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders.ShipmentViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
      security:
      - oauth2:
        - fulfillments_read
      summary: Get one Shipment by Order Id and Shipment Id
      tags:
      - Orders
  /order/{orderId}/shipment/{shipmentId}/cancel:
    post:
      parameters:
      - description: The shipment id to get
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      - explode: false
        in: path
        name: orderId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders.ShipmentViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
        "500":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Server Error
      security:
      - oauth2:
        - fulfillments_cancel
      summary: Cancel one Shipment by Order Id and Shipment Id
      tags:
      - Orders
  /order/{orderId}/shipment/{shipmentId}/logs:
    get:
      parameters:
      - description: The order id to get the shipment for
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The shipment id to get
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Orders.ShipmentLogViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
      security:
      - oauth2:
        - fulfillments_read
      summary: Get logs for one Shipment by Order Id and Shipment Id
      tags:
      - Orders
  /order/{orderId}/shipment/{shipmentId}/timeline:
    get:
      parameters:
      - description: The order id to get the shipment for
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: The shipment id to get
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Orders.ShipmentLogViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
      security:
      - oauth2:
        - fulfillments_read
      summary: Get one Shipment's status timeline by Order Id and Shipment Id
      tags:
      - Orders
  /product:
    get:
      parameters:
      - description: Page of products to get
        explode: true
        in: query
        name: Page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Amount of products per page to request
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Comma separated list of product ids to filter by
        explode: true
        in: query
        name: IDs
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Comma separated list of reference ids to filter by
        explode: true
        in: query
        name: ReferenceIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Search is available for 2 fields of the inventory record related
          to the product: Inventory ID and Name -\r\n1. Expected behavior for search
          by Inventory ID is exact match\r\n2. Expected behavior for search by Inventory
          Name is partial match, i.e. does not have to be start of word, \r\nbut must
          be consecutive characters. This is not case sensitive.'
        explode: true
        in: query
        name: Search
        required: false
        schema:
          type: string
        style: form
      - description: 'Status filter for products:\r\n- Any: Include both active and
          inactive\r\n- Active: Filter products that are Active\r\n- Inactive: Filter
          products that are Inactive'
        explode: true
        in: query
        name: ActiveStatus
        required: false
        schema:
          $ref: '#/components/schemas/Products.ProductActiveStatus'
        style: form
      - description: 'Bundle filter for products:\r\n- Any: Don''t filter and consider
          products that are bundles or not bundles\r\n- Bundle: Filter by products
          that are bundles\r\n- NotBundle: Filter by products that are not bundles'
        explode: true
        in: query
        name: BundleStatus
        required: false
        schema:
          $ref: '#/components/schemas/Products.ProductBundleStatus'
        style: form
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Products.ProductViewModel'
                type: array
          description: Success
          headers:
            Next-Page:
              description: The href of the next page of results, if there is a next
                page
              explode: false
              schema:
                description: The href of the next page of results, if there is a next
                  page
                type: string
              style: simple
            Page-Number:
              description: Number of the current page
              explode: false
              schema:
                description: Number of the current page
                type: int
              style: simple
            Page-Size:
              description: Number of results per page
              explode: false
              schema:
                description: Number of results per page
                type: int
              style: simple
            Total-Count:
              description: Total number of results
              explode: false
              schema:
                description: Total number of results
                type: int
              style: simple
            Total-Pages:
              description: Total number of pages of results
              explode: false
              schema:
                description: Total number of pages of results
                type: int
              style: simple
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
      security:
      - oauth2:
        - ProductsRead
      summary: Get multiple products
      tags:
      - Products
    post:
      parameters:
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Products.CreateProductModel'
          application/json:
            schema:
              $ref: '#/components/schemas/Products.CreateProductModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Products.CreateProductModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Products.CreateProductModel'
        description: The product to add
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Products.ProductViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
      security:
      - oauth2:
        - ProductsWrite
      summary: Add a single product to the store
      tags:
      - Products
  /product/batch:
    post:
      parameters:
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Products.CreateProductModel'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Products.CreateProductModel'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Products.CreateProductModel'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Products.CreateProductModel'
              type: array
        description: List of products to add
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Products.ProductViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
      security:
      - oauth2:
        - ProductsWrite
      summary: Add multiple products to the store
      tags:
      - Products
  /product/{productId}:
    get:
      parameters:
      - description: Unique identifier of the product
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products.ProductViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
      security:
      - oauth2:
        - ProductsRead
      summary: Get a single product
      tags:
      - Products
    put:
      parameters:
      - description: Unique identifier of the product to modify
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Products.UpdateProductModel'
          application/json:
            schema:
              $ref: '#/components/schemas/Products.UpdateProductModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Products.UpdateProductModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Products.UpdateProductModel'
        description: Updated fields to the product
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Products.ProductViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
      security:
      - oauth2:
        - ProductsWrite
      summary: Modify a single product
      tags:
      - Products
  /product/{productId}/inventory:
    get:
      parameters:
      - description: The product id to get inventory for
        explode: false
        in: path
        name: productId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Inventory.InventoryViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - oauth2:
        - inventory_read
      summary: Get a list of inventory items by product id
      tags:
      - Inventory
  /receiving:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Receiving.CreateReceivingOrderModel'
          application/json:
            schema:
              $ref: '#/components/schemas/Receiving.CreateReceivingOrderModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Receiving.CreateReceivingOrderModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Receiving.CreateReceivingOrderModel'
        description: The receiving order to create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receiving.ReceivingOrderViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Not Found
      security:
      - oauth2:
        - receiving_write
      summary: Create Warehouse Receiving Order
      tags:
      - Receiving
  /receiving/{id}:
    get:
      parameters:
      - description: Id of the receiving order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receiving.ReceivingOrderViewModel'
          description: Success
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Not Found
      security:
      - oauth2:
        - receiving_read
      summary: Get Warehouse Receiving Order
      tags:
      - Receiving
  /receiving/{id}/cancel:
    post:
      parameters:
      - description: Id of the receiving order to cancel
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          description: Success
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
      security:
      - oauth2:
        - receiving_write
      summary: Cancel Warehouse Receiving Order
      tags:
      - Receiving
  /receiving/{id}/labels:
    get:
      parameters:
      - description: Id of the receiving order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: byte
                type: string
            application/pdf:
              schema:
                format: byte
                type: string
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Not Found
      security:
      - oauth2:
        - receiving_read
      summary: Get Warehouse Receiving Order Box Labels
      tags:
      - Receiving
  /return:
    get:
      parameters:
      - description: Page of return orders to get
        explode: true
        in: query
        name: Page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Amount of return orders per page to request
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Order to sort results by
        explode: true
        in: query
        name: SortOrder
        required: false
        schema:
          $ref: '#/components/schemas/Returns.SortOrder'
        style: form
      - description: Start date to filter orders inserted later than
        explode: true
        in: query
        name: StartDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: End date to filter orders inserted earlier than
        explode: true
        in: query
        name: EndDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Comma separated list of return orders ids to filter by
        explode: true
        in: query
        name: IDs
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Comma separated list of reference ids to filter by
        explode: true
        in: query
        name: ReferenceIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Comma separated list of statuses to filter by
        explode: true
        in: query
        name: Status
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Returns.ReturnStatus'
          type: array
        style: form
      - description: Comma separated list of destination fulfillment center IDs to
          filter by
        explode: true
        in: query
        name: FulfillmentCenterIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Comma separated list of tracking numbers to filter by
        explode: true
        in: query
        name: TrackingNumbers
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Comma separated list of original shipment IDs to filter by
        explode: true
        in: query
        name: OriginalShipmentIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: Comma separated list of inventory IDs contained in return to
          filter by
        explode: true
        in: query
        name: InventoryIds
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Returns.ReturnOrderViewModel'
                type: array
          description: Success
          headers:
            Page-Number:
              description: Number of the current page
              explode: false
              schema:
                description: Number of the current page
                type: int
              style: simple
            Page-Size:
              description: Number of results per page
              explode: false
              schema:
                description: Number of results per page
                type: int
              style: simple
            Total-Count:
              description: Total number of results
              explode: false
              schema:
                description: Total number of results
                type: int
              style: simple
            Total-Pages:
              description: Total number of pages of results
              explode: false
              schema:
                description: Total number of pages of results
                type: int
              style: simple
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
      security:
      - oauth2:
        - returns_read
      summary: Get Return Orders
      tags:
      - Returns
    post:
      parameters:
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Returns.CreateReturnViewModel'
          application/json:
            schema:
              $ref: '#/components/schemas/Returns.CreateReturnViewModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Returns.CreateReturnViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Returns.CreateReturnViewModel'
        description: Model defining the return
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Returns.ReturnOrderViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Client Error
      security:
      - oauth2:
        - returns_write
      summary: Create Return Order
      tags:
      - Returns
  /return/{id}:
    get:
      parameters:
      - description: Id of the return order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Returns.ReturnOrderViewModel'
          description: Success
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Not Found
      security:
      - oauth2:
        - returns_read
      summary: Get Return Order
      tags:
      - Returns
    put:
      parameters:
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Id of the return order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Returns.CreateReturnViewModel'
          application/json:
            schema:
              $ref: '#/components/schemas/Returns.CreateReturnViewModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Returns.CreateReturnViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Returns.CreateReturnViewModel'
        description: Model defining the return
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Returns.ReturnOrderViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Bad Request
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Client Error
      security:
      - oauth2:
        - returns_write
      summary: Modify Return Order
      tags:
      - Returns
  /return/{id}/cancel:
    post:
      parameters:
      - description: Id of the return order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Returns.ReturnOrderViewModel'
          description: Success
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Client Error
      security:
      - oauth2:
        - returns_write
      summary: Cancel Return Order
      tags:
      - Returns
  /return/{id}/statushistory:
    get:
      parameters:
      - description: Id of the return order
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Returns.ReturnOrderStatusHistoryViewModel'
          description: Success
        "401":
          description: Authorization missing or invalid
        "403":
          description: The provided credentials are not authorized to access this
            resource
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Not Found
      security:
      - oauth2:
        - returns_read
      summary: Get One Return's status history
      tags:
      - Returns
  /shipment/cancelbulk:
    post:
      parameters:
      - description: Channel ID for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: true
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Orders.CancelShipmentsModel'
          application/json:
            schema:
              $ref: '#/components/schemas/Orders.CancelShipmentsModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Orders.CancelShipmentsModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Orders.CancelShipmentsModel'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders.CanceledShipmentsViewModel'
          description: Success
        "401":
          description: No access right at this time
        "403":
          description: No access
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
        "500":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Server Error
      security:
      - oauth2:
        - fulfillments_write
      summary: Cancel multiple Shipments by Shipment Id
      tags:
      - Orders
  /shipment/{shipmentId}:
    get:
      parameters:
      - description: The shipment id to get
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders.ShipmentViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
      security:
      - oauth2:
        - fulfillments_read
      summary: Get one Shipment by Shipment Id
      tags:
      - Orders
  /shipment/{shipmentId}/cancel:
    post:
      parameters:
      - description: The shipment id to get
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders.ShipmentViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
        "500":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Server Error
      security:
      - oauth2:
        - fulfillments_cancel
      summary: Cancel one Shipment by Shipment Id
      tags:
      - Orders
  /shipment/{shipmentId}/logs:
    get:
      parameters:
      - description: The shipment id to get
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Orders.ShipmentLogViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
      security:
      - oauth2:
        - fulfillments_read
      summary: Get logs for one Shipment by Shipment Id
      tags:
      - Orders
  /shipment/{shipmentId}/timeline:
    get:
      parameters:
      - description: The shipment id to get
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Channel Id for Operation
        explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Orders.ShipmentLogViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          description: Not Found
      security:
      - oauth2:
        - fulfillments_read
      summary: Get one Shipment's status timeline by Shipment Id
      tags:
      - Orders
  /shippingmethod:
    get:
      description: Get all merchants shipping methods
      parameters:
      - description: Page of orders to get
        explode: true
        in: query
        name: Page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Amount of records per page to request
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Orders.ShipMethodDetailViewModel'
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
      security:
      - oauth2:
        - orders_read
      summary: Get shipping methods
      tags:
      - Orders
  /webhook:
    get:
      description: All parameters are AND filters
      parameters:
      - description: Topic of the webhooks requested
        explode: true
        in: query
        name: Topic
        required: false
        schema:
          $ref: '#/components/schemas/Webhooks.Topics'
        style: form
      - description: Page of Webhooks to get
        explode: true
        in: query
        name: Page
        required: false
        schema:
          description: Page of Webhooks to get
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        style: form
      - description: Amount of Webhooks per page to request
        explode: true
        in: query
        name: Limit
        required: false
        schema:
          description: Amount of Webhooks per page to request
          format: int32
          maximum: 250
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Webhooks.WebhookViewModel'
                type: array
          description: Success
          headers:
            Next-Page:
              description: The href of the next page of results, if there is a next
                page
              explode: false
              schema:
                description: The href of the next page of results, if there is a next
                  page
                type: string
              style: simple
            Page-Number:
              description: Number of the current page
              explode: false
              schema:
                description: Number of the current page
                type: int
              style: simple
            Page-Size:
              description: Number of results per page
              explode: false
              schema:
                description: Number of results per page
                type: int
              style: simple
            Total-Count:
              description: Total number of results
              explode: false
              schema:
                description: Total number of results
                type: int
              style: simple
            Total-Pages:
              description: Total number of pages of results
              explode: false
              schema:
                description: Total number of pages of results
                type: int
              style: simple
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
      security:
      - oauth2: []
      summary: Get Webhooks
      tags:
      - Webhooks
    post:
      parameters:
      - explode: false
        in: header
        name: shipbob_channel_id
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: simple
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Webhooks.CreateWebhookSubscriptionModel'
          application/json:
            schema:
              $ref: '#/components/schemas/Webhooks.CreateWebhookSubscriptionModel'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Webhooks.CreateWebhookSubscriptionModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Webhooks.CreateWebhookSubscriptionModel'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhooks.WebhookViewModel'
          description: Success
        "400":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Bad Request
        "401":
          description: No access right at this time
        "403":
          description: No access
        "422":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
          description: Client Error
      security:
      - oauth2: []
      summary: Create a new webhook subscription
      tags:
      - Webhooks
  /webhook/{id}:
    delete:
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: Success
        "401":
          description: No access right at this time
        "403":
          description: No access
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationProblemDetails'
          description: Not Found
      security:
      - oauth2: []
      summary: Delete an existing webhook subscription
      tags:
      - Webhooks
components:
  schemas:
    Location.AddressViewModel:
      additionalProperties: false
      description: The service-specific address of the location. Each object contains
        address type, address1, address2, city, state, country, zip code, phone number,
        and email
      example:
        country: country
        address2: address2
        city: city
        address1: address1
        name: name
        phone_number: phone_number
        state: state
        email: email
        zip_code: zip_code
      properties:
        address1:
          description: First part of the address of the location for this service
          nullable: true
          type: string
        address2:
          description: Second part of the address of the location for this service
          nullable: true
          type: string
        city:
          description: City of the location
          nullable: true
          type: string
        country:
          description: Country of the location
          nullable: true
          type: string
        email:
          description: Email of the location for this service
          nullable: true
          type: string
        name:
          description: Name to use in the address of the location for this service
          nullable: true
          type: string
        phone_number:
          description: Phone Number of the location for this service
          nullable: true
          type: string
        state:
          description: State of the location
          nullable: true
          type: string
        zip_code:
          description: Zip code of the location
          nullable: true
          type: string
      type: object
    Location.LocationViewModel:
      additionalProperties: false
      example:
        is_receiving_enabled: true
        is_shipping_enabled: true
        access_granted: true
        is_active: true
        timezone: timezone
        name: name
        attributes:
        - attributes
        - attributes
        id: 0
        services:
        - address:
            country: country
            address2: address2
            city: city
            address1: address1
            name: name
            phone_number: phone_number
            state: state
            email: email
            zip_code: zip_code
          enabled: true
        - address:
            country: country
            address2: address2
            city: city
            address1: address1
            name: name
            phone_number: phone_number
            state: state
            email: email
            zip_code: zip_code
          enabled: true
        abbreviation: abbreviation
        region:
          name: name
          id: 6
      properties:
        abbreviation:
          description: Abbreviation of the location. Combination of nearest Airport
            Code and the sequence number.
          nullable: true
          type: string
        access_granted:
          description: Indicates whether or not the user is authorized to interact
            at all with the location
          type: boolean
        attributes:
          description: Available attributes for the location
          items:
            type: string
          nullable: true
          type: array
        id:
          description: "Id of the location in ShipBobâ\x80\x99s database"
          format: int32
          type: integer
        is_active:
          description: Indicates if the location is operationally active or inactive
          type: boolean
        is_receiving_enabled:
          description: Indicates if the receiving is enabled for FC
          type: boolean
        is_shipping_enabled:
          description: Indicates if the shipping is enabled for FC
          type: boolean
        name:
          description: Name of the location. Follows the naming convention City (State
            Code)\r\nfor domestic FCs and City (Country Code) for international FCs
          nullable: true
          type: string
        region:
          $ref: '#/components/schemas/Location.RegionViewModel'
        services:
          description: Services provided by the location
          items:
            $ref: '#/components/schemas/Location.ServiceViewModel'
          nullable: true
          type: array
        timezone:
          description: Time zone of the location
          nullable: true
          type: string
      type: object
    Location.RegionViewModel:
      additionalProperties: false
      example:
        name: name
        id: 6
      properties:
        id:
          description: Unique Id for the location region
          format: int32
          type: integer
        name:
          description: Name of the region the location is in.
          nullable: true
          type: string
      type: object
    Location.ServiceViewModel:
      additionalProperties: false
      example:
        address:
          country: country
          address2: address2
          city: city
          address1: address1
          name: name
          phone_number: phone_number
          state: state
          email: email
          zip_code: zip_code
        enabled: true
      properties:
        address:
          $ref: '#/components/schemas/Location.AddressViewModel'
        enabled:
          description: Indicates if the user is authorized to access this service
            at the location
          type: boolean
        service_type:
          $ref: '#/components/schemas/Location.ServiceTypeEnum'
      type: object
    Location.ServiceTypeEnum:
      enum:
      - Receiving
      - Returns
      type: string
    ProblemDetails:
      additionalProperties: false
      discriminator:
        propertyName: $type
      properties:
        ttype:
          type: string
        detail:
          nullable: true
          type: string
        extensions:
          additionalProperties:
            additionalProperties: false
            type: object
          nullable: true
          readOnly: true
          type: object
        instance:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        title:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      required:
      - $type
      type: object
    ValidationProblemDetails:
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/ProblemDetails'
      - $ref: '#/components/schemas/ValidationProblemDetails_allOf'
      properties:
        detail:
          nullable: true
          type: string
        errors:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          readOnly: true
          type: object
        extensions:
          additionalProperties:
            additionalProperties: false
            type: object
          nullable: true
          readOnly: true
          type: object
        instance:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        title:
          nullable: true
          type: string
        type:
          nullable: true
          type: string
      type: object
    Channels.ChannelViewModel:
      additionalProperties: false
      example:
        application_name: Api
        name: name
        id: 0
        scopes:
        - scopes
        - scopes
      properties:
        application_name:
          description: Name of the application that owns the channel
          example: Api
          nullable: true
          type: string
        id:
          description: Unique id of the channel
          format: int32
          type: integer
        name:
          description: Name of the channel
          nullable: true
          type: string
        scopes:
          description: Array of permissions granted for the channel
          items:
            type: string
          nullable: true
          type: array
      type: object
    Orders.AddProductToOrderByProductIdModel:
      additionalProperties: false
      properties:
        id:
          description: Unique id of the product
          format: int32
          type: integer
        quantity:
          description: The quantity of this product ordered
          format: int32
          type: integer
      required:
      - id
      - quantity
      type: object
    Orders.AddProductToOrderByReferenceIdModel:
      additionalProperties: false
      properties:
        name:
          description: Name of the product
          example: TShirtBlueM
          type: string
        quantity:
          description: The quantity of this product ordered
          format: int32
          type: integer
        reference_id:
          description: Unique reference id of the product
          example: TShirtBlueM
          type: string
      required:
      - quantity
      - reference_id
      type: object
    Orders.AddProductToOrderModel:
      oneOf:
      - $ref: '#/components/schemas/Orders.AddProductToOrderByProductIdModel'
      - $ref: '#/components/schemas/Orders.AddProductToOrderByReferenceIdModel'
    Orders.CancelShipmentsModel:
      additionalProperties: false
      description: Model for cancel multiple shipments at once
      properties:
        shipment_ids:
          description: Shipment IDs to cancel
          items:
            format: int32
            type: integer
          type: array
      type: object
    Orders.CreateOrderModel:
      additionalProperties: false
      properties:
        order_number:
          description: User friendly orderId or store order number that will be shown
            on the Orders Page. If not provided, referenceId will be used
          maxLength: 400
          type: string
        products:
          items:
            $ref: '#/components/schemas/Orders.AddProductToOrderModel'
          minLength: 1
          type: array
        purchase_date:
          description: Date this order was purchase by the end user
          format: date-time
          nullable: true
          type: string
        recipient:
          $ref: '#/components/schemas/Orders.RecipientInfoViewModel'
        reference_id:
          maxLength: 300
          type: string
        shipping_method:
          type: string
        tags:
          items:
            $ref: '#/components/schemas/Orders.TagViewModel'
          type: array
        type:
          description: 'Defaults to Direct to Consumer (DTC) if not provided. Note:
            B2B is not supported at this time'
          enum:
          - DTC
          - DropShip
          - B2B
          type: string
      required:
      - products
      - recipient
      - reference_id
      - shipping_method
      type: object
    Orders.EstimateFulfillmentRequestModel:
      additionalProperties: false
      properties:
        address:
          $ref: '#/components/schemas/Orders.EstimationAddressViewModel'
        products:
          description: Products to be included in the order. Each product must include
            one of reference_id or id
          items:
            $ref: '#/components/schemas/Orders.EstimateProductInfoModel'
          type: array
        shipping_methods:
          description: Array of strings specifying shipping methods for which to fetch
            estimates.\r\n\r\nIf this field is omitted we will return estimates for
            all shipping methods defined in ShipBob
          items:
            type: string
          type: array
      required:
      - address
      - products
      type: object
    Orders.EstimateProductInfoModel:
      additionalProperties: false
      properties:
        id:
          description: Unique id of the product (Must be provided if reference_id
            is unknown)
          format: int32
          nullable: true
          type: integer
        quantity:
          description: The quantity of this product ordered
          format: int32
          maximum: 199
          minimum: 1
          type: integer
        reference_id:
          description: Unique reference id of the product (Must be provided if ID
            is unknown)
          example: TShirtBlueM
          type: string
      required:
      - quantity
      type: object
    Orders.AddressViewModel:
      additionalProperties: false
      example:
        country: US
        address2: Suite 100
        city: Gotham City
        address1: 100 Nowhere Blvd
        company_name: Wayne Enterprises
        state: NJ
        zip_code: "07093"
      properties:
        address1:
          description: First line of the address
          example: 100 Nowhere Blvd
          type: string
        address2:
          description: Second line of the address
          example: Suite 100
          type: string
        city:
          description: The city
          example: Gotham City
          type: string
        company_name:
          description: Name of the company receiving the shipment
          example: Wayne Enterprises
          type: string
        country:
          description: The country (Must be ISO Alpha-2 for estimates)
          example: US
          type: string
        state:
          description: The state or province
          example: NJ
          type: string
        zip_code:
          description: The zip code or postal code
          example: "07093"
          type: string
      required:
      - address1
      - city
      - country
      type: object
    Orders.CanceledOrderViewModel:
      additionalProperties: false
      example:
        canceled_shipment_results:
        - reason: reason
          action: Cancel
          is_success: true
          shipment_id: 0
        - reason: reason
          action: Cancel
          is_success: true
          shipment_id: 0
        order_id: 6
        order:
          reference_id: reference_id
          order_number: order_number
          channel:
            name: ShipBobs-Shopify-Store
            id: 0
          type: DTC
          shipments:
          - reference_id: reference_id
            require_signature: true
            estimated_fulfillment_date_status: AwaitingInventoryAllocation
            estimated_fulfillment_date: 2000-01-23T04:56:07.000+00:00
            invoice_amount: 7.061401241503109
            tracking:
              carrier: USPS
              carrier_service: Priority
              tracking_number: 860C8CDC8F0B4FC7AB69AC86C20539EC
              tracking_url: https://www.example.com/tracking?id=860C8CDC8F0B4FC7AB69AC86C20539EC
            actual_fulfillment_date: 2000-01-23T04:56:07.000+00:00
            products:
            - reference_id: TShirtBlueM
              name: Medium Blue T-Shirt
              id: 1
              sku: TShirtBlueM
              inventory_items:
              - lot: "22222"
                quantity_committed: 7
                quantity: 6
                is_dangerous_goods: true
                name: Medium Blue T-Shirt
                id: 1
                expiration_date: 2000-01-23T04:56:07.000+00:00
                serial_numbers:
                - serial_numbers
                - serial_numbers
              - lot: "22222"
                quantity_committed: 7
                quantity: 6
                is_dangerous_goods: true
                name: Medium Blue T-Shirt
                id: 1
                expiration_date: 2000-01-23T04:56:07.000+00:00
                serial_numbers:
                - serial_numbers
                - serial_numbers
            - reference_id: TShirtBlueM
              name: Medium Blue T-Shirt
              id: 1
              sku: TShirtBlueM
              inventory_items:
              - lot: "22222"
                quantity_committed: 7
                quantity: 6
                is_dangerous_goods: true
                name: Medium Blue T-Shirt
                id: 1
                expiration_date: 2000-01-23T04:56:07.000+00:00
                serial_numbers:
                - serial_numbers
[...]
